<div class="row m-0 p-0 col-12 col-sm-12">
  <div class="row m-0 mt-3 p-0 col-12 col-sm-12">
    <label class="col-6 col-sm-6 control-label text-danger">نام انبار</label>
    <label class="col-6 col-sm-6 control-label text-danger">ظرفیت</label>
    <div class="col-6 col-sm-6">
      <input type="text" class="form-control">
    </div>
    <div class="col-6 col-sm-6">
      <input type="text" class="form-control">
    </div>
  </div>
  <div class="row m-0 mt-3 p-0 col-12 col-sm-12">
    <label class="col-6 col-sm-6 control-label text-danger">مکان</label>
    <label class="col-6 col-sm-6 control-label text-danger">مسئول</label>
    <div class="col-6 col-sm-6">
      <input type="text" class="form-control">
    </div>
    <div class="col-6 col-sm-6">
      <select class="form-control">
        <option value="-1">...</option>
        <option value="1">آقای زال</option>
        <option value="2">آقای قاسمی</option>
        <option value="3">خانم رنجبر</option>
        <option value="4">خانم صالحی</option>
        <option value="5">آقای سعیدی</option>
      </select>
    </div>
  </div>
  <div class="row m-0 mt-3 p-0 col-12 col-sm-12">
    <span style="width: 8rem;">
    <button class="btn btn-primary w-100">
      ثبت
      <i class="fa fa-save"></i>
    </button>
    </span>
    <span style="width: 8rem;">
    <button class="btn btn-danger w-100">
      بازنشانی
      <i class="fa fa-refresh"></i>
    </button>
    </span>
    <span style="width: 8rem;">
    <button class="btn btn-warning w-100">
      بازگشت
      <i class="fa fa-backspace"></i>
    </button>
    </span>
  </div>
</div>
