<div class="m-3 p-2">
  <div class="card">
    <header class="bg-light row m-0">
      <h2 class="col-sm-7 lh-4" *ngIf="!editMode; else editModeTitle">{{ title }} {{ warehouseTitle }}</h2>
      <ng-template #editModeTitle>
        <h2 class="col-sm-7 lh-4" >
          تعریف انبار جدید
        </h2>
      </ng-template>
      <div class="text-end col-sm-5 lh-lg"
           *ngIf="1 && !editMode">
        <i class="fa fa-plus m-1 fa-2x" (click)="switchToEditMode()"></i>
        <i class="fa fa-search m-1 fa-2x"></i>
        <i class="fa fa-refresh m-1 fa-2x"></i>
      </div>
    </header>
    <article class="">
      <table class="table table-bordered table-striped table-hover"
             *ngIf="!editMode">
        <thead>
        <tr class>
          <th>نام انبار</th>
          <th>ظرفیت</th>
          <th>مکان</th>
          <th>مسئول</th>
        </tr>
        </thead>
        <tbody>
        <tr class="" *ngFor="let warehouse of warehouses">
          <td> {{ warehouse.name }}</td>
          <td> {{ warehouse.capacity }}</td>
          <td> {{ warehouse.location }}</td>
          <td> {{ warehouse.mas }}</td>
        </tr>
        </tbody>
      </table>
      <div class="" *ngIf="editMode">
        <app-warehouse-edit></app-warehouse-edit>
      </div>
    </article>
  </div>
</div>
